@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  height: 500vh;
  background: rgb(53, 51, 51);
}

.nav {
  background: url(./images/m.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  height: 100vh;
  margin-top: -16px;
  margin-left: -8px;
  margin-right: -8px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: red;
  font-weight: bold;
}

li {
  font-size: 1em;
  padding: 2rem;
}

.si {
  width: fit-content;
  display: inline;
}

.sign {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.nett {
  font-size: 2em;
  padding-left: 4rem;
  margin-top: -1rem;
  margin-left: -4rem;
  font-family: bebas neue;
}

a {
  color: white;
  text-decoration-line: none;
}

.sn {
  background: red;
  font-size: 95%;
  border-radius: 2.5%;
}
.sn:hover {
  text-decoration-line: underline;
  font-weight: 700;
  background: rgb(250, 67, 67);
}

a:hover {
  text-decoration-style: solid;
  cursor: pointer;
  font-weight: bolder;
  background: ;
}

h1 {
  color: white;
  margin: 35px;
  font-family: poppins;
  font-weight: bold;
  padding: 14px;
  padding-bottom: 25px;
  font-size: 1.6rem;
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.1em;
}

.hh {
  margin-top: -40px;
  margin-bottom: 20px;
}

.hy {
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 7px;
}

.in {
  padding-bottom: 2%;
}

#email {
  padding-inline: 10px;
  width: 85%;
  height: 2.5rem;
  margin-left: 5%;
  margin-bottom: 200px;
}

.start {
  margin-top: -12rem;
  text-align: center;
  background: red;
  width: max-content;
  align-content: center;
  margin-left: 35.5%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
}

.get {
  color: white;
  font-size: 14px;
  padding: 15px;
  text-decoration-line: none;
  font-family: poppins;
  text-align: center;
}

#two {
  text-align: center;
  color: white;
  background: black;
  background-size: cover;
  padding: 0;
  width: 100%;
  margin-top: 1.5%;
  margin-left: -1.5%;
  padding: 2%;
  font-size: large;
  font-family: sans-serif;
  height: 24rem;
}

.watch {
  font-size: large;
  padding-bottom: 10%;
  margin-top: 2%;
  text-align: center;
}

video {
  width: 60%;
  height: 60%;
  margin-top: -12%;
}

span {
  margin-left: -0.4%;
}

.down {
  background: black;
  background-position: 0 0;
  background-size: contain;
  height: 30vh;
  margin-left: -1.6%;
  color: white;
  text-align: center;
  margin-top: -2.5%;
  background-repeat: no-repeat;
  margin-right: -1.6%;
}

.ti {
  padding: 12%;
  font-family: sans-serif;
  font-size: bolder;
}

.tip {
  margin-top: -23%;
  font-size: 1em;
  padding: 10%;
  font-family: sans-serif;
}

.toda {
  background: url(/images/chil.jpg);
  background-position: 0 0;
  background-size: contain;
  height: 80vh;
  margin-left: -1.6%;
  color: white;
  text-align: center;
  margin-top: -21%;
  background-repeat: no-repeat;
  margin-right: -1.6%;
}

main {
  color: white;
  margin-top: -2.5%;
  background-color: black;
  background-position: 0 0;
  text-align: center;
}

.fre {
  padding-top: 10%;
  font-family: sans-serif;
  text-align: center;
}

article {
}

section {
  color: white;
  text-align: center;
  margin-top: 80%;
  font-family: sans-serif;
}

.eve {
  background: black;
  margin-top: -9.5%;
  padding: 10%;
}

.create {
  background: black;
  padding: 7%;
  margin-top: 1.5%;
}

.kids {
  background: url(/images/kids.jpg);
  height: 80vh;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 5%;
}

#wrap {
  width: 100%;
  height: 90vh;
  background-color: black;
  padding-left: 8%;
  padding-top: 8%;
  margin-left: -1.6%;
}

.what {
  color: white;
  background: rgb(53, 51, 51);
  display: block;
  text-align: start;
  padding: 3%;
}

.ready {
  text-align: center;
  margin-top: ;
}

.a:hover {
  font-weight: normal;
  font-size: inherit;
  text-decoration-line: underline;
}

.a {
  font-family: serif;
  color: rgb(121, 118, 118);
  font-size: 0.9em;
}

.un {
  margin-top: 0%;
}

.i {
  padding-left: 47.5%;
}

.ii {
  padding-left: 42.5%;
}

.iii {
  padding-left: 30.5%;
}

.iv {
  padding-left: 34.5%;
}

.v {
  padding-left: 43.5%;
}

.vi {
  padding-left: 25.1%;
}

.vii {
  padding-left: 40%;
}

.pp {
  font-family: serif;
  font-size: 1.1em;
  padding-bottom: 3%;
  margin-left: -0.2em;
}

.p {
  color: rgb(121, 118, 118);
  padding-top: 20%;
}

footer {
  margin-top: 130%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: black;
  width: 100%;
  margin-left: -1.6%;
  text-align: left;
  padding-left: 8%;
}
